# ==========================
# FastAPI
# ==========================
fastapi
uvicorn[standard]
python-multipart
jinja2

# ==========================
# LangChain (Mistral only)
# ==========================
langchain-core
langchain-mistralai

# ==========================
# Database
# ==========================
sqlalchemy

# ==========================
# Authentication
# ==========================
python-jose[cryptography]
passlib[bcrypt]

# ==========================
# Environment Variables
# ==========================
python-dotenv

# ==========================
# Data Validation
# ==========================
pydantic
psycopg2-binary